* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Poppins', Arial, sans-serif;
    width: 100%;
    background-image: url("./images-portfolio/pattern.jpg");
    background-size: cover;
}

.wrapper {
    width: 855px;
    margin: 0 auto;
    background-color: rgb(18, 25, 64);
    border: 2px solid rgb(18, 25, 64);
}
                                              /*BLOCK PERSONAL-INFO*/
.personal-info {
    height: 280px;
    width: 100%;
    display: flex;
    justify-content: space-around;
    flex-wrap: nowrap;
    box-sizing: border-box;
}

img {
    width: 250px;
    height: 250px;
    margin-top: 10px;
    border: 3px solid #84858a;
}

.wrapper-intro-personal-info {
    color: white;
    width: 409px;
    display: flex;
    flex-direction: column;
}

h2 {
    font-size: 38px;
    text-transform: uppercase;
}

.personal-info-h2 {
    letter-spacing: 3px;
    text-align: start;
    text-decoration: underline;
    margin-bottom: 22px;
}

.links {
    line-height: 40px;
    max-height: 300px;
    max-width: 409px;
    box-sizing: border-box;
    border: 2px solid #84858a;
}

.links div {
    min-width: 226px;
    margin-left: 10px;
}

.links a, .links span {
    font-size: 23px;
    margin-left: 10px;
}

.links a {
    color: white;
    text-decoration: none;
}
                                         /*BLOCK EDUCATION*/
.education {
    width: 100%;
    background-color: white;
    box-sizing: border-box;
    border-bottom: none;
}

.head-list {
    width: 100%;
    padding: 0 20px;
    display: flex;
    justify-content: space-between;
    background-color: #cccdd3;
    border-bottom: 2px solid rgb(18, 25, 64);
    box-sizing: border-box;
    cursor: pointer;
}

.head-list:hover, .links div:not(:last-child):hover {
    background-color: #86878d;
}

.head-list i {
    font-size: 38px;
    line-height: 60px;
    margin-right: 24px;
}

.list-education {
   display: none;
}

.list-education-open {
    display: block;
}

.list-education li {
    font-size: 17px;
    font-weight: bold;
    text-transform: uppercase;
    padding: 0 20px;
    list-style: none;
    border-bottom: 2px solid rgb(18, 25, 64);
}

.years {
    font-weight: normal;
}
                                            /*BLOCK PROJECTS*/
.pointing {
    width: 200px;
    color: white;
    display: none;
}

.projects-h2{
    font-weight: normal;
    color: white;
    margin-left: 20px;
}

.slider-container {
    width: 100%;
    height: 410px;
    align-items: center;
    display: flex;
    justify-content: space-between;
}

.list-project {
    margin-left: 10px;
    list-style-type: square;
    list-style-position: inside;
}


.about-project {
    width: 50%;
    height: 100%;
    line-height: 25px;
    display: flex;
    flex-direction: column;
    border-right: 2px solid rgb(18, 25, 64);
}

h3 {
    font-size: 32px;
    line-height: 90px;
    text-transform: uppercase;
    text-align: center;
    text-decoration: underline;
}

.list-project li {
    font-size: 21px;
}

.list-project li span {
    text-transform: uppercase;
}

.cover {
    width: 270px;
    height: 380px;
    background-size: cover;
    border-right: 2px solid rgb(18, 25, 64);
}

.cover-theyalow {
    background-image: url("./images-portfolio/theyalow.jpg");
}

.cover-rep-design {
    background-image: url("./images-portfolio/repair-design.jpg");
}

.click-image {
    width: 170px;
    height: 56px;
    display: flex;
    justify-content: space-between;
    align-self: flex-end;
    padding: 10px;
    margin: 30px 10px;
    border: 2px solid #86878d;
}

.click-image i {
    font-size: 30px;
    line-height: 42px;
}
                                               
.swiper-container {
    width: 100%;
    height: 100%;
    margin-bottom: 30px;
}

.swiper-slide {
    background: #fff;
    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}

.pointing-2 {
    display: none;
}
